@charset "UTF-8";
@import url("html5reset-1.6.1.css");
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

/* ↓レイアウト↓ */

*{
    line-height:150%;
}

body{
    color:#333;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Verdana, sans-serif;
    background-color:#eee7e0;
}

.base{
    margin:0 auto;
    max-width:1000px;
}

.header{
    text-align:center;
    margin:10px 0px;
}

.footer{
    padding:5px;
    text-align:center;
    margin:10px 0px 0px 0px;
}

.work{
    padding:10px;
    margin:15px 5px;
    background-color:#faf8f6;
    box-shadow:3px 3px 3px -2px #cccccc;
    -moz-box-shadow:3px 3px 3px -2px #cccccc;
    -webkit-box-shadow:3px 3px 3px -2px #cccccc;
    border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
}

.menu{
    padding:10px;
    margin:15px 0px;
    font-family: 'Libre Baskerville', serif;
}

.box{
    overflow: hidden ;		/* floatを解除する */
}

.text{
    margin:30px 5px;
    padding:15px;
    line-height:180%;
    background-color:#faf8f6;
    box-shadow:3px 3px 3px -2px #cccccc;
    -moz-box-shadow:3px 3px 3px -2px #cccccc;
    -webkit-box-shadow:3px 3px 3px -2px #cccccc;
    border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
}

.textmenu{
    text-align:center;
    padding:5px;
    margin:5px;
    word-spacing:20px;
    font-family: 'Libre Baskerville', serif;
}

img
{
	max-width: 100% ;
	height: auto ;
}


/* ↓タグ↓ */

h1{
    font-size:180%;
    font-weight:normal;
    font-family: 'Libre Baskerville', serif;
}

h2{
    font-size:80%;
    font-weight:normal;
    margin:10px 0px;
}

h3{
    color:#000000;
    font-size:130%;
    font-weight:normal;
    text-align:center;
    margin:20px 0px;
    padding:10px;
    background-image:url(h3.png);
    background-repeat:no-repeat;
    background-position:center;
    font-family: 'Libre Baskerville', serif;
}

h4{
    font-size:110%;
    font-weight:normal;
    margin:10px -10px;
    background-color:#fceaf1;
    padding:3px 10px;
    text-align:center;
}

h5{
    font-size:100%;
    font-weight:normal;
}

h6{
    font-size:85%;
    font-weight:normal;
    color:#a58f86;
}

em{
    border-width:0px 0px 1px 0px;
    border-style:dotted;
    border-color:#dc2d73;
}

strong{
    background-color:#dc2d73;
    color:#fff;
    font-weight:normal;
}

small{
    font-size:80%;
}

i{
    font-style:italic;
    color:#000;
}

a:link{
    color:#dc2d73;
    text-decoration:none;
}

a:visited{
    color:#dc2d73;
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

blockquote{
    padding:5px;
    font-size:90%;
    margin:5px 10px;
    color:#778899;
}

blockquote:before{
    content:'\201c';
    font-size:150%;
    color:#000000;
    margin:0px 10px;
}

blockquote:after{
    content:'\201d';
    font-size:150%;
    color:#000000;
    margin:0px 10px;
}

li{
    padding:5px;
}

dl{
    padding-left:3px;
    margin:20px 10px;
}

dt{
    padding-left:5px;
}

dd{
    padding-left:10px;
}

address{
    font-size:80%;
}

cite{
    font-size:smaller;
}


/* ↓classタグ↓ */

.list1{
    list-style:none;
    text-align:center;
}

.list1 li{
display: inline-block;
}

.list2{
    list-style-type: upper-roman;
    list-style-position:inside;
}

.hr1{
    margin:5px 0px;
    border-top: 1px #ccc;
    border-bottom: 1px #fff;
    border-style:solid;
}

.hr2{
    margin:5px 0px;
    border-top: 1px #aaa;
    border-style:dashed;
}

.hr3{
    margin:5px 0px;
    height:20px;
    border-width:0px;
}

.p1{
    padding:5px;
    margin:5px 0px;
    font-size:90%;
}

.p2{
    border-style:double;
    border-width:3px;
    padding:3px;
    margin:5px 0px;
    font-size:90%;
}

.p3{
    border-style:dashed;
    border-width:1px;
    padding:5px;
    margin:5px 0px;
    background-color:#fceaf1;
    border-color:#cccccc;
    font-size:90%;
}

.dt1{
    font-family: 'Libre Baskerville', serif;
    font-size:110%;
    border-width:0px 0px 1px 0px;
    border-style:dotted;
}

.dt1:before{
    content:'*';
    color:#999999;
    font-size:120%;
    margin:0px 5px;
}

.dd1{
    font-size:90%;
    margin:5px 0px;
}

.memo{
    background-color:#ffffff;
    font-size:80%;
    padding:0px 10px;
    height:100px;
    overflow:auto;
    margin:5px 0px;
}

.img1{
    box-shadow:1px 1px 3px -1px #999999;
-moz-box-shadow:1px 1px 3px -1px #999999;
-webkit-box-shadow:1px 1px 3px -1px #999999;
}

.counter{
    font-family: 'Libre Baskerville', serif;
    text-align:center;
    font-size:90%;
}

/*↓ディスプレイ480px以下用↓*/

@media screen and (max-width:480px) 

{
    
.base{
    width:auto;
}

.work{
    float:none;
    width:auto;
    margin:10px 5px;
}

.text{
    float:none;
    width:auto;
    margin:10px 5px;
}

.menu{
    float:none;
    width:auto;
    margin:0px 5px;
}

.textmenu a{
    display:block;
    font-size:120%;
}

.textmenu a:hover{
    background-color:#ffffff;
}


.list1 li{
    display:block;
}

.list1 a{
    display:block;
    font-size:120%;
}

.list1 a:hover{
    background-color:#ffffff;
}

h1{
    font-size:150%;
}

}
